    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>FirstName</th>
                    <th>LastName</th>
                    <th>E-Mail</th>
                    <th>Sales-Volume</th>
                    <th>Met Quota?</th>
            </tr>
         </thead>
        <tbody>
            <tr *ngFor = "let salesPerson of salesPersonList">
                <td> {{salesPerson.firstName}}</td>
                <td> {{salesPerson.lastName}}</td>
                <td> {{salesPerson.email}}</td>
                <td> {{salesPerson.salesVolume | currency: 'USD'}}</td>
                <td>
                    <div *ngIf = "salesPerson.salesVolume >= 6000; else myElseBlock">YES</div>
                    <ng-template #myElseBlock>NO</ng-template>
                </td>
            </tr>
    
        </tbody>
    </table>